@import './variables.scss';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 80px; // Account for fixed header
  min-height: calc(100vh - 80px);
}
