@import '../../styles/variables.scss';

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-xxl;
  min-height: 200px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid var(--border-color);
  border-top-color: $primary-color;
  border-radius: $radius-full;
  animation: spin 1s linear infinite;
}
